<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= sub %></p>
    <table>

      <% names.forEach((name) => { %>
        <tr>
          <td>
            <%= name.id %>
          </td>
          <td>
            <%= name.Term %>
          </td>
          <td>
            <%= name.Description %>
          </td>
          <td>
            <%= name.Reference %>
          </td>
        </tr>
        
        <% }) %>

    </table>
  </body>
</html>
